.well
  .row
    .col-xs-12
      %table.table.text-left
        %theah
          %tr
            %th
              %h5
                = "Billing Address"
                = link_to "(edit)", edit_billing_address_path
            %th 
              %h5
                = "Shipping Address"
                = link_to "(edit)", edit_shipping_address_path
            %th
              %h5
                = "Credit Card" 
                = link_to "(edit)", edit_credit_card_path
        %tbody
          %tr
            %td
              %p= billing_address.adress
              %p= "#{billing_address.city} #{billing_address.zipcode}"
              %p= billing_address.country
              %p= billing_address.phone
            %td
              %p= shipping_address.adress
              %p= "#{shipping_address.city} #{shipping_address.zipcode}"
              %p= shipping_address.country
              %p= shipping_address.phone
            %td
              %p= "************#{credit_card.number.last(3)}"
              %p= "#{credit_card.expiration_month}/#{credit_card.expiration_year}"
= form_for order, :url => order_path do |f|
  .row
    .col-xs-12
      .text-center
        = link_to "PLACE ORDER", next_wizard_path, class: "btn btn-primary"


