.well
  .row
    .col-xs-8
      %table
        %tr
          %th
            %h2= billing_address.class 
            = link_to "edit", edit_billing_address_path
          %th  
            %h2= shipping_address.class
            = link_to "edit", edit_shipping_address_path
          %th
            %h2= credit_card.class
            = link_to "edit", edit_credit_card_path
        %tr
          %td
            %p= billing_address.adress
            %p= "#{billing_address.city} #{billing_address.zipcode}"
            %p= billing_address.country
            %p= billing_address.phone
          %td
            %p= shipping_address.adress
            %p= "#{shipping_address.city} #{shipping_address.zipcode}"
            %p= shipping_address.country
            %p= shipping_address.phone
            = current_order.state
          %td
            %p= "************#{credit_card.number.last(3)}"
            %p= "#{credit_card.expiration_month}/#{credit_card.expiration_year}"
      = form_for current_order, :url => order_path(current_order.id) do |f|
        .row
          .col-xs-4
            = f.submit "PLACE ORDER", class: "btn btn-primary"


