- @orderitems.each do |orderitem|
  = render 'order_row', book: orderitem.book, orderitem: orderitem, show_total: true
  .div  
    %h3.text-right
      = render 'checkout/order_information'
  .text-center    
    - if @order.state == "in queue"
      = link_to "Cancel Order", order_path(@order.id), :method => :delete, class: "btn btn-primary"
      = link_to "Back to shop", root_path, class: "btn btn-primary"
    - else
      = link_to "Back to shop", root_path, class: "btn btn-primary"