.well
  .row
    .col-xs-8
      %h4= book.title
    .col-xs-4
      = form_for @books, :url => books_path(book.id) do |f|
        %h4.text-right 
          Unit Price:
          %span(class="color: green")= number_to_currency @book.price
          .input-group-btn
            = f.hidden_field :book_id, {value: book.id}
            = link_to "See Details", book_path(f), class: "btn btn-primary"