- if !@orderitem.nil? && @orderitem.errors.any?
  .alert.alert-danger
    %ul
      - @orderitem.errors.full_messages.each do |msg|
        %li= msg
- if @orderitems.size == 0
  .text-center
    %p 
      There are no items in your shopping cart. Please 
      = link_to "go back and choose", root_path
- else 
  - @orderitems.each do |orderitem|
    = render 'cart_row', book: orderitem.book, orderitem: orderitem, show_total: true
  .div  
    %h3.text-right
      Subtotal:
      = number_to_currency current_order.total_price
    .text-center
      = form_for current_order, :url => cart_path(current_order.id) do |f|
        = f.text_field :coupone_code, placeholder: "Coupone Code"
        = f.submit "UPDATE", class: "btn btn-primary"
      = link_to "Check Out", checkout_path(:adresses), class: "btn btn-primary"
      = link_to "Back to shop", root_path, class: "btn btn-primary"
 