= form_for @checkout do |f|
  = f.text_field :b_adress 
  = f.text_field :b_city 
  = f.text_field :b_phone
  = f.text_field :b_country 
  = f.number_field :b_zipcode 
  = f.text_field :b_first_name 
  = f.text_field :b_last_name
  = f.text_field :s_adress 
  = f.text_field :s_city 
  = f.text_field :s_phone
  = f.text_field :s_country 
  = f.text_field :s_zipcode 
  = f.text_field :s_first_name 
  = f.text_field :s_last_name
  = f.text_field :cvv
  = f.text_field :number
  = f.text_field :expiration_month
  = f.text_field :expiration_year
  = f.check_box :same_shipping_address, {}, "true", "false"
  = f.submit "Submit"