.col-xs-6{:style => "height:450px; overflow: auto"}
  .thumbnail{:style => "word-wrap: break-word"}
    = image_tag book.image_url
    %h3= book.title
    %p.text-left= book.small_description
    %h4 
      Unit Price:
      = number_to_currency book.price
    .input-group-btn
      = link_to "See Details", book_path(book.id), class: "btn btn-primary"