.row
  .col-xs-6{:style => "overflow: auto"}
    %h4
      #{address.class}
    = form_for address, :url => address_path do |f|
      = f.text_field :first_name, :placeholder => "First Name"
      = f.text_field :last_name, :placeholder => "Last Name"
      = f.text_field :adress, :placeholder => "Street Address"
      = f.text_field :city, :placeholder => "City"
      = f.text_field :country, :placeholder => "Country"
      = f.number_field :zipcode, :placeholder => "Zip"
      = f.phone_field :phone, :placeholder => "Phone"
      - if address.class == BillingAddress
        %h4
          Same shipping address:
          = f.check_box :same, {}, "true", "false"
      = f.submit "SAVE AND CONTINUE", class: "btn btn-primary"
